<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/resume.css?{{ site.time }}">
    <title>{{ page.title }}</title>
</head>

<body>
    <div class="container resume-container">
        <header class="row">
            <div class="page-title col-md-4 col-xs-6">
                {{ page.title }}
            </div>
            <div class="col-md-4 col-xs-4">{{ page.subtitle }}</div>
        </header>

        <section class="col-md-12">
            {{content}}
        </section>

    </div>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>