.project-table th {
    white-space: nowrap;
}

.project-table td {
    border: 1px solid lightgray;
    margin: 0;
    padding: 3px;
}

.cia-tagline {
    font-weight: bold;
    font-size: 1.4em;
    border-bottom: 2px solid black;
    margin-bottom: 4px;
    display: none;
}

    .cia-tagline .fa-lock {
        color: rgb(178,23,23);
    }

    .cia-tagline .fa-edit {
        color: rgb(23,47,128);
    }

    .cia-tagline .fa-arrow-up {
        color: rgb(30,181,47);
    }
