<html>

<head>
    {% include headers.html %}
</head>

<body class="container">
    <header class="row">
        <h1>{{ page.title }}</h1>
        <hr />
    </header>

    <div class="row">
        <section class="col-md-10">
            {{content}}

            {% assign content = content | strip %}

            {% if content != "" %}
                <hr />
            {% endif %}
            {% for sitePage in site.Pages %} 
                {% if sitePage.tags contains page.slug %}
                    {% assign sitePageUrl = sitePage.url | replace: ".html", "" %}
                    <a href="{{ sitePageUrl }}">{{ sitePage.title }}</a><br /> 
                {% endif %} 
            {% endfor %}
        </section>
        <section class="col-md-2 grax-navigation-pane">
            <a href="/">Home</a><br />
            <a href="/contact">Contact</a><br />
            <a href="/improve/your/life">Improve Your Life</a><br />
            <a href="/improve/your/team">Improve Your Team</a><br />
            <a href="/improve/your/code">Improve Your Code</a><br />
            <a href="/here/is/my/opinion">Opinion</a><br />
            <a href="/software/projects">Software Projects</a><br />
        </section>
    </div>
    {% include trailing-scripts.html %}
</body>
</html>
