<html>
<head>
    {% include headers.html %}

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="Secure Software, Strong Teams" />
    <meta property="og:image" content="{{ site.url }}{{ page.ogImage | default: "/images/david-walker.png" }}" />
</head>

<body>
    <div class="page-header">
        <a href="/"><img class="page-header-main-image" src="/images/redleaf.jpg" alt="Photo by David Walker" /></a>
        <img class="page-header-author-image" src="/images/david-walker.png" alt="David Walker" />
        <div class="page-header-text">
            <h1>David Walker</h1>
            <h3>Secure&nbsp;Software &bull;&nbsp;Strong&nbsp;Teams &bull;&nbsp;DotNet&nbsp;Core &bull;&nbsp;ASP.NET &bull;&nbsp;SQL Server</h3>
        </div>
    </div>

    <div class="container">
        <header class="row">
            <h1 class="col-md-10">{{ page.title }}</h1>
        </header>
        <div class="row">
            <section class="col-md-10 grax-content-pane">
                {{content}}
            </section>
            <section class="col-md-2 grax-navigation-pane">
                <a href="/">Home</a><br />
                <a href="/contact">Contact</a><br />
                <a href="/improve/your/life">Improve Your Life</a><br />
                <a href="/improve/your/team">Improve Your Team</a><br />
                <a href="/improve/your/code">Improve Your Code</a><br />
                <a href="/here/is/my/opinion">Opinion</a><br />
                <a href="/software/projects">Software Projects</a><br />
                <hr />
                {{ site.page_sections | where:"category", page.category | map: "output" | first }}
            </section>
        </div>
    </div>

    {% include trailing-scripts.html %}
</body>
</html>
